body{
  width: 100vw;
  height: 100vh;
  background: #003366;
;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}
.card{
  height: 320px;
  width: 700px;
  background: white;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
h1{
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0px 0px 0px;
}
.coti-logo{
    height: 60px;
    width: 258px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 20px 0px 15px 0px;
}
p{

  color:  #666666;
  margin: 20px  0 ;

}
.link{
color: #003366;
height: 18px;
width: 219px;
}